body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.MuiPaper-root {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

.MuiTableCell-root {
  border-bottom: 1px solid #2e2e2e;
}

.MuiTableHead-root {
  background-color: #2e2e2e;
}

.MuiButton-containedPrimary {
  background-color: #6200ea !important;
}

.MuiAlert-root {
  background-color: #d32f2f !important;
  color: #ffffff !important;
}

.MuiInputLabel-root, .MuiFormLabel-root, .MuiFormControl-root, .MuiInputBase-input, .MuiSelect-select {
  color: #ffffff !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #6200ea !important;
}

.MuiTableCell-head {
  color: #ffffff;
  font-weight: bold;
}

.MuiTableCell-body {
  color: #ffffff;
}
