/* src/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
  }
  
  .app {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h1, .section h2, .section h3 {
    margin: 0 0 10px;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section ul li {
    background: #e0e0e0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }
  
  @keyframes grow {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
  }
  
  .home {
    animation: fadeIn 1s ease-in-out;
  }
  
  .professional {
    animation: slideIn 1s ease-in-out;
  }
  
  .hobbies {
    animation: grow 1s ease-in-out;
  }
  